body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h4 {
  display: inline-block;
  margin: 10px;
  padding: 6px;
  border-radius: 8px;
  border: solid 2px blue;
  cursor: pointer;
}
p {
  text-align: center;
}
